.header {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #343a40;
    position: sticky;
    top: 0;
    z-index: 2;
}

@media screen and (max-width:768px) {
    .header {
        justify-content: center;
    }
}