.skill {
    /*width: 250px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:#fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 0 5px;
    line-height: 1.2;
    /*animation: pulse 10s linear infinite;*/
}

.icon {
    height: 60px;
    width: 60px;
    object-fit: cover;
    padding:5px;
}

/*@keyframes pulse {*/
/*    0% {*/
/*        transform: scale(0.5);*/
/*        opacity: 0;*/
/*    }*/
/*    50% {*/
/*        opacity: 1;*/
/*    }*/
/*    100% {*/
/*        transform: scale(1.2);*/
/*        opacity: 0;*/
/*    }*/
/*}*/

.iconImg {
    width: 100%;
    transition: transform .4s ease;
}

.iconImg:hover {
    transform: rotate(45deg);
}

.description {
    width: 100%;
}