.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 0 5px;
    line-height: 1.2;
}

.icon {
    height: 60px;
    width: 60px;
    object-fit: cover;
    padding: 5px;
}


.iconImg {
    width: 100%;
    transition: transform .4s ease;
    filter: drop-shadow(10px 8px 6px #5ac24e);
}

.iconImg:hover {
    transform: rotate(45deg);
}

.description {
    width: 100%;
}