.skillsBlock {
    background-color: #343a40;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: #eeeef5;
}

.skills {
    /*border: 1px solid;*/
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
    margin-top: 30px;
}