
.remoteBlock {
    background-color: #343a40;
    position: relative;
}

.remoteContainer {
    justify-content: flex-start;
    flex-direction: column;
    /*margin-top: 30px;*/
    padding-bottom: 30px;
}

.remoBtn {
    width: fit-content;
    align-self: center;
    background-color: hsla(0, 0%, 100%, 0);
    border: 1px solid grey;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 1.75;
    padding: 8px 10px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    margin-top: 30px;

}

.remoBtn:hover {
    background: #F35C16FF;
    outline-offset: 3px;
}