
.remoteBlock {
    /*height: 100vh;*/
    background-color: #343a40;
}


.remo {
    text-align: center;
    /*font-weight: 300;*/
    color: #fff;
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
    /*margin: 0;*/
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 3px;
    /*margin: 0 auto;*/
    /*position: relative;*/

}

.remoteContainer {
    justify-content: flex-start;
    flex-direction: column;
    /*background-color: #343a40;*/

}



.remoBtn {
    width: fit-content;
    align-self: center;
    background-color: hsla(0, 0%, 100%, 0);
    border: 1px solid grey;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 1.75;
    padding: 8px 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    transition: all 0.2s ease-in;
}

.remoBtn:hover {
    /*background: linear-gradient(120deg, hsl(19, 90%, 52%), hsl(50, 100%, 50%));*/
    background:#F35C16FF;
    outline-offset:3px;
}

/*.remoBtn:active {*/
/*    color: #5ac24e;*/
/*}*/